---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout..astro";
import BlogCard from "../../components/BlogCard.astro";
type Props = CollectionEntry<"blog">;
const posts = (await getCollection("blog")).sort(
  (a: Props, b: Props) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

---

<BaseLayout title=Blogs description={SITE_DESCRIPTION}>
  <section class="">
    <div class="px-4 max-w-7xl grid gap-4 grid-col-2 sm:grid-cols-2 lg:grid-col-3 lg:px-2 xl:px-0">
      {
        posts.map((post: Props) => (
		<BlogCard post={post} tags={tags}></BlogCard>
        ))
      }
    </div>
  </section>
</BaseLayout>
